node_modules/
public/lib/
.eslintrc
WiredTiger
WiredTiger.lock
WiredTiger.turtle
WiredTiger.wt
WiredTigerLAS.wt
_mdb_catalog.wt
collection-0-6584121223885740521.wt
collection-2-6584121223885740521.wt
diagnostic.data/
index-1-6584121223885740521.wt
index-3-6584121223885740521.wt
journal/
mongod.lock
sizeStorer.wt
storage.bson
